.page-header {
  background: #fff;
  padding: 16px 32px 0;
  border-bottom: 1px solid #e8e8e8;
}

.page-header .breadcrumb {
  margin-bottom: 16px;
}

.page-header .detail {
  display: flex;
}

.page-header .main {
  flex: auto;
}

.page-header .row {
  display: flex;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0,0,0,.85);
}

.chip-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chip-form {
  margin-top: 20px !important;
}

.chip-image {
  width: 97px;
}

.chip-form .ant-form-item-label, .chip-form .ant-form-item-control-wrapper {
  display: inline-block;
}
