.users-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px 0px 16px 0px;
}

.users-container h4 {
  font-size: 16px;
  margin: 0;
}

.users-table {
  width: 100%;
  margin-top: 40px;
}

.search-field .ant-form-item-control-wrapper {
  width: 100%;
}