@charset "UTF-8";
/* CSS Document */

body{
	background-color:#000;
	font-family: 'Ubuntu', sans-serif;
	margin: 0px;
}

#portada{
	background-color:#000;
	margin: 0px;
	background-image: url(../img/bg.jpg);
	background-position:top;
	background-position:center;
}

#interiores{
	background-color:#000;
	margin: 0px;
	background-image: url(../img/bg2.jpg);
	background-position:top center;
}

.contenedorpass{
	width:1024px;
	height:768px;
	margin:auto;
	margin-top:0px;
	background-image: url(../img/login.png);
	position:relative;
	
}

.contenedor{
	width:1024px;
	height:768px;
	margin:auto;
	position:relative;
}

.login{
	width:600px;
	height:500px;
	margin:auto;
	padding-top: 210px;
	
}

p {
	color:#7c7c7c;
	font-size:14px;
	text-align:center;
}

p2 {
	color:#ff0000;
	font-size:14px;
	text-align:center;
}

h1 {
	color:#7c7c7c;
	font-size:16px;
	text-align:center;
}

a:link{
	color:inherit;
}

input[type=text]{
	width: 100%;
	height: 30px;
	background-color: #FFFFF;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align:center;
	font-size:14px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #d3d3d3;
margin-bottom:5px;
color:#7c7c7c;
	}
	
	.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

	.inputfile-1 + label {
    width: 100%;
	height: 30px;
	background-color: #FFFFFf;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 3px;
	text-align:center;
	font-size:14px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #d3d3d3;
margin-bottom:5px;
color:#7c7c7c;
display: flex;
	align-items: center;
	align-content: center;
}


.inputfile + label {
	cursor: pointer; /* "hand" cursor */
	
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
	
}
	input[type=password]{
	width: 100%;
	height: 30px;
	background-color: #FFFFFf;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align:center;
	font-size:14px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #d3d3d3;
margin-bottom:5px;
color:#7c7c7c;
	}
	
	input[type=email]{
	width: 100%;
	height: 30px;
	background-color: #FFFFFf;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align:center;
	font-size:14px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #d3d3d3;
margin-bottom:5px;
color:#7c7c7c;
	}
	
	input[type=tel]{
	width: 100%;
	height: 30px;
	background-color: #FFFFFf;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align:center;
	font-size:14px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #d3d3d3;
margin-bottom:5px;
color:#7c7c7c;
	}
	
	input[type=submit]{
	width: 100%;
	height: 30px;
	background-color: #009804;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align:center;
	font-size:14px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #d3d3d3;
margin-bottom:5px;
color:#fff;
	}
	
	input[type=number]{
	width: 100%;
	height: 30px;
	background-color: #FFFFFf;
	padding-top: 5px;
	/* [disabled]padding-right: 5px; */
	/* [disabled]padding-left: 5px; */
	padding-bottom: 5px;
	text-align: center;
	font-size: 14px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #d3d3d3;
	margin-bottom: 5px;
	color: #7c7c7c;
	}
	
	
	input[type=date]{
	width: 98%;
	height: 30px;
	background-color: #FFFFFf;
	padding-top: 5px;
	/* [disabled]padding-right: 5px; */
	/* [disabled]padding-left: 5px; */
	padding-bottom: 5px;
	text-align: center;
	font-size: 14px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #d3d3d3;
	margin-bottom: 5px;
	color: #7c7c7c;
	}
	
	input[type=time]{
	width: 100%;
	height: 30px;
	background-color: #FFFFFf;
	padding-top: 5px;
	/* [disabled]padding-right: 5px; */
	/* [disabled]padding-left: 5px; */
	padding-bottom: 5px;
	text-align: center;
	font-size: 14px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #d3d3d3;
	margin-bottom: 5px;
	color: #7c7c7c;
	}
	
	select {
	width: 100%;
	height: 30px;
	 background: transparent;
	border: none;
	padding-right: 0px;
	padding-left: 0px;
	
	text-align:center;
	font-size:14px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
margin-bottom:5px;
color:#7c7c7c;
	}
	
	.select-style select {
	width: 100%;
	height: 30px;
	background: transparent;
	border: none;
	padding-right: 0px;
	padding-left: 0px;
	text-align: center;
	font-size: 14px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	margin-bottom: 5px;
	color: #7c7c7c;
	}
	
	.select-style {
	width: 100%;
	/*background-color: #FFFFFF;*/
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align:center;
	font-size:14px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;

margin-bottom:5px;
color:#7c7c7c;
	}
	input[type=numbermember]{
	width: 90%;
	height: 20px;
	margin-left: 5%;
	background-color: #FFFFF;
	padding-top: 5px;
	/* [disabled]padding-right: 5px; */
	/* [disabled]padding-left: 5px; */
	padding-bottom: 5px;
	text-align: center;
	font-size: 14px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #d3d3d3;
	margin-bottom: 5px;
	color: #7c7c7c;
	}
	
	.textbox
  {
  width: 90%;
	background-color: #fff;
	background-color: #FFFFF;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align:center;
	font-size:14px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #d3d3d3;
margin-bottom:5px;
color:#7c7c7c;
margin-top:85px;
  }
  
  .textbox2 {
  width: 100%;
	background-color: #FFFFF;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align:center;
	font-size:14px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #d3d3d3;
margin-bottom:5px;
color:#7c7c7c;
margin-top:15px;
  }
  
	
	input::placeholder {
 color:#d3d3d3;
}

.btn{
	margin:auto;
	width: 33%;
	height: auto;
}


.btnverdebig{
	margin:auto;
	width: 200px;
	height: 30px;
	background-color: #009804;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align:center;
	font-size:14px;
	border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
-webkit-box-shadow: inset 0px -11px 0px -4px rgba(13,129,3,1);
-moz-box-shadow: inset 0px -11px 0px -4px rgba(15,109,5,1);
box-shadow: inset 0px -11px 0px -4px rgba(15,109,5,1);
border: 1px solid #d3d3d3;
margin-bottom:5px;
color:#fff;
position: relative;
float:left;
margin-top: 10px;
	margin-right: 25px;
	margin-left: 0px;
	margin-bottom: 10px;
}
.btnverdebig:hover{
	background-color: #078d04;
	}
.btnverde{
	margin:auto;
	width: 90%;
	height: 10px;
	background-color: #6ba900;
	padding-top: 1px;
	padding-right: 5px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align:center;
	font-size:14px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
color:#fff;
position:absolute;
left: 4%; top: 4px;

}

.btntex{
	margin-top: auto;
	margin-right: auto;
	margin-left: 5%;
	margin-bottom: auto;
	width: 90%;
	height: auto;
	padding-top: 4px;
	padding-right: 5px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	position: absolute;
	margin-left: 5%;
	z-index: 1;
	text-decoration: none;
	line-height:1;
}

.btntex2{
	margin-top: auto;
	margin-right: auto;
	margin-left: 5%;
	margin-bottom: auto;
	width: 90%;
	height: auto;
	padding-top: 1px;
	padding-right: 5px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	position: absolute;
	margin-left: 5%;
	z-index: 1;
	text-decoration: none;
	line-height:.8;
}


.btnrojobig{
	margin: auto;
	width: 200px;
	height: 30px;
	background-color: #dd0000;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 14px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	-webkit-box-shadow: inset 0px -11px 0px -4px rgba(155,16,0,1);
	-moz-box-shadow: inset 0px -11px 0px -4px rgba(155,16,0,1);
	box-shadow: inset 0px -11px 0px -4px rgba(155,16,0,1);
	border: 1px solid #d3d3d3;
	margin-bottom: 5px;
	color: #fff;
	position: relative;
	float: left;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 0px;
	margin-bottom: 10px;
}

.btnrojobig:hover {
	background-color: #ac2120;
	}

.btnrojo{
	margin:auto;
	width: 90%;
	height: 10px;
	background-color: #dd6161;
	padding-top: 1px;
	padding-right: 5px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align:center;
	font-size:14px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
color:#fff;
position:absolute;
left: 4%; top: 4px;

}


.btnnarbig{
	margin: auto;
	width: 200px;
	height: 30px;
	background-color: #e38600;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 14px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	-webkit-box-shadow: inset 0px -11px 0px -4px rgba(155,16,0,1);
	-moz-box-shadow: inset 0px -11px 0px -4px rgba(159,94,0,1);
	box-shadow: inset 0px -11px 0px -4px rgba(159,94,0,1);
	border: 1px solid #d3d3d3;
	margin-bottom: 5px;
	color: #fff;
	position: relative;
	float: left;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 0px;
	margin-bottom: 10px;
}

.btnnarbig:hover{
background-color: #b96f1d;	
}
.btnnar{
	margin:auto;
	width: 90%;
	height: 10px;
	background-color: #e3a54b;
	padding-top: 1px;
	padding-right: 5px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align:center;
	font-size:14px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
color:#fff;
position:absolute;
left: 4%; top: 4px;

}

.top_titulo{
	margin: auto;
	width: 90%;
	height: 60px;
	text-align: center;
	font-size: 22px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 1px solid #d3d3d3;
	color: #fff;
	margin-top: 40px;
}

.top_titulo2{
	margin: auto;
	width: 60%;
	height: auto;
	padding: 1px;
	text-align: center;
	font-size: 22px;
	line-height: 1;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 1px solid #d3d3d3;
	color: #fff;
	margin-top: 20px;
}


h2{
	text-align: center;
	font-size: 22px;
	color: #fff;
	line-height:1;
}

h3{
	text-align: center;
	font-size: 18px;
	color: #fff;
	line-height:1;
}
.menu {
	width: 100%;
	height: auto;
	margin-top: 20px;
	}
	
	
.menu1 {
	width: 21%;
	height:auto;
	float:left;
	margin-left:2%;
	margin-right:2%;
	}
	.menu3 {
	width: 170px;
	height: 170px;
	float: left;
	margin-left: 3%;
	margin-right: 2%;
	margin-top: 0px;
	}
	
	.menu3 img{
	width: 100%;
	height:auto;
	}
	.menu2 {
	width: 21%;
	height:auto;
	float:left;
	margin-left:2%;
	margin-right:2%;
	}
	
	.menu1 img{
	width: 100%;
	height:auto;
	float:left;
	}
	
	.menu2 img{
	width: 100%;
	height:auto;
	float:left;
	}

.menu_open {
	width: 21%;
	height:auto;
	float:left;
	margin-left:6%;
	margin-right:6%;
	}
	
	.menu_open img{
	width: 100%;
	height:auto;
	float:left;
	}
	
	
	.menu_par {
	width: 21%;
	height:auto;
	float:left;
	margin-left:17%;
	margin-right:6%;
	}
	
	.menu_par img{
	width: 100%;
	height:auto;
	float:left;
	}

.menu1_mesa {
	width: 21%;
	height:auto;
	float:left;
	margin-left:18%;
	margin-right:2%;
	}

.cont_cturno {
	width: 100%;
	height: auto;
	margin-top: 120px;
	}
	
	.cont_ccaja {
	width: 100%;
	height: auto;
	margin-top: 50px;
	}

.imgtop {
		width:350px;
	height:130px;
	margin-top:10px;
	margin-left:337px;
	z-index:1;
	position:absolute;
	}
	
	.titulos {
	width: 130px;
	height: 45px;
	margin: auto;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 1;
	text-align: center;
	font-weight: 700;
	display: table-cell;
	vertical-align: middle;
	}
	
	.titulos_menu {
	width: 200px;
	height: 45px;
	margin: auto;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 1;
	text-align: center;
	font-weight: 700;
	display: table-cell;
	vertical-align: middle;
	}
	
	.titulos3 {
		width:170px;
	height:45px;
	margin:auto;
	font-size:13px;
	color:#FFFFFF;
	line-height:1;
	text-align:center;
	font-weight: 700;
	display: table-cell;
	vertical-align: middle;
	}
	
	.divtitulos {
	width: 250px;
	height: 50px;
	margin-left: 8px;
	position: absolute;
	margin-top:40px;
	left: 120px;
	top: 3px;
	}
	
	.divtitulos1 {
		width:192px;
	height:50px;
	margin-left:8px;
	position:absolute;
	margin-top: 118px;
	}
	
	.divtitulos_menu {
	width: 200px;
	height: 50px;
	margin-left: 8px;
	position: absolute;
	margin-top: 118px;
	}
	.divtitulos2 {
	width: 140px;
	height: 50px;
	margin-left: 30px;
	position: absolute;
	margin-top: 100px;
	}
	
	.divtitulos3 {
	width: 170px;
	height: 50px;
	margin-left: 0px;
	position: absolute;
	margin-top: 90px;
	}
	
	
	.imgtop img{
	width:100%;
	height:auto;
	margin:auto;
	}
.contents {
	width:900px;
	height:600px;
	margin-left:62px;
	top:80px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 1px solid #FFAD00;
	position:absolute;
	background-color: rgba(0, 0, 0, 0.50);	
	}
	
	
	.contents00 {
	width:900px;
	height:600px;
	margin-left:62px;
	top:80px;
	position:relative;
		
	}
	
	.contents2 {
	width:900px;
	height:450px;
	margin-left:62px;	
	}
	
	.contents3 {
	width:900px;
	height:450px;
	}
	
	.contenidos1 {
		width:840px;
		height:auto;
		margin-left:30px;
		margin-top:80px;
	}
	
	
.foto {
	width:25%;
	height:auto;
	float:left;
	}
	
	.foto img{
	width:100%;
	height:auto;
	}
	
	.formulario{
	width:70%;
	height:auto;
	float:left;
	margin-left:5%;
	color:#fff;
	display: table-cell;
	vertical-align: middle;
	margin-bottom: 3%;
	}
	
	.formulario_med{
	width:32.5%;
	height:auto;
	float:left;
	margin-left:5%;
	margin-bottom: 3%;
	color:#fff;
	text-align:center;
	
	}
	
	.formulario_col3{
	width: 26%;
	height: auto;
	float: left;
	margin-left: 5%;
	margin-bottom: 2%;
	color: #fff;
	text-align: center;	
	}
	
	.login_formulario{
	width:40%;
	height:auto;
	float:left;
	margin-left:30%
	}
	.widthbtn4 {
	width: 98%;
	height: auto;
	display: flex;
	align-items: center;
	align-content: center;
	margin:auto;
	}
	
.widthbtn3 {
	width: 75%;
	height: auto;
	display: flex;
	align-items: center;
	align-content: center;
	margin:auto;
	}
	
	.widthbtn2 {
	width: 48%;
	height: auto;
	display: flex;
	align-items: center;
	align-content: center;
	margin:auto;
	}
	
	.widthbtn_1 {
	width: 200px;
	height: auto;
	display: flex;
	align-items: center;
	align-content: center;
	margin: auto;
	}
	
	.widthbtnpop {
	width: 80%;
	height: auto;
	display: flex;
	align-items: center;
	align-content: center;
	margin:auto;
	margin-left:100px;
	}
	
	
	.width90 {
	width: 90%;
	height: auto;
	margin:auto;
	text-align:center;
	font-size:24px;
	color:#FFFFFF;
	margin-top:25px;
	}
	
	.twocontents{
		width:398px;
	height:450px;
	margin-left:25px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 1px solid #FFAD00;
	background-color: rgba(0, 0, 0, 0.50);	
	float:left;
	margin-right: 25px;
	}
	
	.twocontents2{
	width: 398px;
	height: 300px;
	margin-left: 25px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 1px solid #FFAD00;
	background-color: rgba(0, 0, 0, 0.50);
	float: left;
	margin-right: 25px;
	}
	
	.onecontents{
		width:398px;
	height:300px;
	margin:auto;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 1px solid #FFAD00;
	background-color: rgba(0, 0, 0, 0.50);	
	}
	
	.onecontents1{
	width: 398px;
	height: 280px;
	margin: auto;
	}

.contents1 {
	width: 900px;
	height: 450px;
	margin-left: 64px;
	top: 200px;
	position: absolute;
	}
	
	
.contents0 {
	width: 1024px;
	height: 450px;
	top: 200px;
	position: absolute;
	}
	.cajero {
		width: 80%;
		height:430px;
		margin:auto;
	}
	
	.continuar {
		width: 200px;
		height:auto;
		margin:auto;
	}
.middlecont {
		width: 44%;
		height:280px;
		margin-left: 3%;
		margin-right: 3%;
		float:left;
		margin-top:35px;
	}
	
	
	.middlecont2 {
		width: 44%;
		height:330px;
		margin-left: 3%;
		margin-right: 3%;
		float:left;
		margin-top:45px;
	}
	
	.middlecont3 {
		width: 44%;
		height:200px;
		margin-left: 3%;
		margin-right: 3%;
		float:left;
		margin-top:20px;
	}
	
.fichas {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	align-content: center;
	margin-top: 5px;
	}
	
	.ficha {
	width:15%;
	height:auto;
	float:left;
	}
	
	.ficha  img{
	width:100%;
	height:auto;
	}
	
	.formficha{
	width:35%;
	height:auto;
	margin-left: 5%;
	float:left;
	color:#fff;
	}
	
	.member{
	width: 45%;
	height: 55px;
	margin: auto;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 1px solid #FED600;
	display: flex;
	align-items: center;
	align-content: center;
	}
	
	.membertext{
	width: 190px;
	height: auto;
	float:left;
	text-align:center;
	}
	.memberimage{
	width: 50px;
	height: auto;
	float:left;
	margin-left:22px;
	}
	
	.memberimage img{
	width: 100%;
	height: auto;
	}
	
	.saldo{
	width: 29%;
	height: 35px;
	margin-left:2%;
	margin-right: 2%;
	margin-top:2%;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 1px solid #FED600;
	float:left;
	text-align:center;
	color:#00c505;
	padding-top:10px;
	}
	
	
	.promo1{
	width: 42%;
	height: 120px;
	margin-left:4%;
	margin-right:4%;
	background: rgba(255,96,10,1);
background: -moz-linear-gradient(left, rgba(255,96,10,1) 0%, rgba(255,175,75,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,96,10,1)), color-stop(100%, rgba(255,175,75,1)));
background: -webkit-linear-gradient(left, rgba(255,96,10,1) 0%, rgba(255,175,75,1) 100%);
background: -o-linear-gradient(left, rgba(255,96,10,1) 0%, rgba(255,175,75,1) 100%);
background: -ms-linear-gradient(left, rgba(255,96,10,1) 0%, rgba(255,175,75,1) 100%);
background: linear-gradient(to right, rgba(255,96,10,1) 0%, rgba(255,175,75,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff600a', endColorstr='#ffaf4b', GradientType=1 );
float:left;
display: flex;
	align-items: center;
	align-content: center;
	border-radius: 0px 10px 10px 0px;
-moz-border-radius: 0px 10px 10px 0px;
-webkit-border-radius: 0px 10px 10px 0px;
border: 0px solid #000000;
	}
	
	
	.promo2 {
	width: 42%;
	height: 120px;
	margin-left:4%;
	margin-right:4%;
	background: rgba(75,208,232,1);
background: -moz-linear-gradient(left, rgba(75,208,232,1) 0%, rgba(21,131,191,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(75,208,232,1)), color-stop(100%, rgba(21,131,191,1)));
background: -webkit-linear-gradient(left, rgba(75,208,232,1) 0%, rgba(21,131,191,1) 100%);
background: -o-linear-gradient(left, rgba(75,208,232,1) 0%, rgba(21,131,191,1) 100%);
background: -ms-linear-gradient(left, rgba(75,208,232,1) 0%, rgba(21,131,191,1) 100%);
background: linear-gradient(to right, rgba(75,208,232,1) 0%, rgba(21,131,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bd0e8', endColorstr='#1583bf', GradientType=1 );
float:left;
display: flex;
	align-items: center;
	align-content: center;
	border-radius: 0px 10px 10px 0px;
-moz-border-radius: 0px 10px 10px 0px;
-webkit-border-radius: 0px 10px 10px 0px;
border: 0px solid #000000;
	}
	
	.promo3 {
	width: 42%;
	height: 120px;
	margin-left:4%;
	margin-right:4%;
	margin-top:2%;
	background: rgba(255,93,177,1);
background: -moz-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,93,177,1)), color-stop(100%, rgba(239,1,124,1)));
background: -webkit-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
background: -o-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
background: -ms-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
background: linear-gradient(to right, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c', GradientType=1 );
float:left;
display: flex;
	align-items: center;
	align-content: center;
	border-radius: 0px 10px 10px 0px;
-moz-border-radius: 0px 10px 10px 0px;
-webkit-border-radius: 0px 10px 10px 0px;
border: 0px solid #000000;
	}
	
	.promo4 {
	width: 42%;
	height: 120px;
	margin-left:4%;
	margin-right:4%;
	margin-top:2%;
	background: rgba(113,255,84,1);
background: -moz-linear-gradient(left, rgba(113,255,84,1) 0%, rgba(87,171,9,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(113,255,84,1)), color-stop(100%, rgba(87,171,9,1)));
background: -webkit-linear-gradient(left, rgba(113,255,84,1) 0%, rgba(87,171,9,1) 100%);
background: -o-linear-gradient(left, rgba(113,255,84,1) 0%, rgba(87,171,9,1) 100%);
background: -ms-linear-gradient(left, rgba(113,255,84,1) 0%, rgba(87,171,9,1) 100%);
background: linear-gradient(to right, rgba(113,255,84,1) 0%, rgba(87,171,9,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71ff54', endColorstr='#57ab09', GradientType=1 );
float:left;
display: flex;
	align-items: center;
	align-content: center;
	border-radius: 0px 10px 10px 0px;
-moz-border-radius: 0px 10px 10px 0px;
-webkit-border-radius: 0px 10px 10px 0px;
border: 0px solid #000000;
	}
	
	.blend {
		width:35px;
		height: 120px;
		color:#000;
background: rgba(237,237,237,1);
background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 53%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(255,255,255,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 53%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 53%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 53%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 53%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed', GradientType=0 );
    writing-mode: vertical-lr;
    transform: rotate(180deg);
	float:left;
}
.promotext {
	width:70%;
	height:auto;
	margin-left:35px;
	font-size:14px;
	color:#000;
	float:left;
	}
	
.calculadora {
	width:350px;
	height:320px;
	margin:auto;
	margin-top:40px;
	}
	
	.calculadora2 {
	width:350px;
	height:320px;
	margin:auto;
	margin-top:0px;
	}
	
	.teclanum {
		width:55px;
		height:55px;
		margin:5px 5px 5px 5px;
		float:left;
		background: rgba(237,237,237,1);
background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 0px solid #000000;
-webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
text-align:center;
display: flex;
	align-items: center;
	align-content: center;
	}
	
	.num {
		width:100%;
		height:auto;
text-align:center;
	}
	
	
	.teclaenter {
	width: 125px;
	height: 185px;
	margin: 5px 5px 5px 5px;
	float: left;
	background: rgba(237,237,237,1);
	background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(113,255,84,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(113,255,84,1)));
	background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,  rgba(113,255,84,1) 100%);
	background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(113,255,84,1) 100%);
	background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(113,255,84,1) 100%);
	background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,  rgba(113,255,84,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71ff54', endColorstr='#57ab09', GradientType=0 );
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	-webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
	text-align: center;
	display: flex;
	align-items: center;
	align-content: center;
	}
	
	.teclaborrar {
	width: 125px;
	height: 55px;
	margin: 5px 5px 5px 5px;
	float: left;
	background: rgba(237,237,237,1);
	background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(21,131,191,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(21,131,191,1)));
	background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,  rgba(21,131,191,1) 100%);
	background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(21,131,191,1) 100%);
	background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(21,131,191,1) 100%);
	background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,  rgba(21,131,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71ff54', endColorstr='#57ab09', GradientType=0 );
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	-webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
	text-align: center;
	display: flex;
	align-items: center;
	align-content: center;
	}
	
	.numeros {
		width:210px;
		height:280px;
		float:left;
	}
	
	.cajamontos {
		width:60%;
		height:60px;
		float:left;
		margin-bottom:20px;
		margin-top:20px;
		margin-left: 50px;
	}
	.centercontent{
	width: 450px;
	height: 320px;
	margin: auto;
	margin-top: 50px;
	}
	
	.centercontent2{
	width: 450px;
	height: 100px;
	margin: auto;
	margin-top: 50px;
	}
	
	
	.notificaciones {
		width:350px;
		height:25px;
		padding: 10px 10px 10px 10px;
		background-color:#841315;
		border-radius: 10px 10px 0px 0px;
-moz-border-radius: 10px 10px 0px 0px;
-webkit-border-radius: 10px 10px 0px 0px;
border: 0px solid #000000;
color:#fff;
position:absolute;
bottom: 0px;
z-index:1;
display: flex;
	align-items: center;
	align-content: center;
	}

	.not {
		width:25px;
		height:25px;
		float:left;
		margin-right:10px;
	}
	
	.not img {
		width:25px;
		height:25px;
	}
	
	.not_text{
		width:210px;
		height:25px;
		float:left;
		color:#fff;
	}


/* Camara */
.camara {
	width: 480px;
	height: 400px;
	background-color: #000000;
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border: 0px solid #000000;
	background-color: rgba(0, 0, 0, 0.90);
	margin: auto;
	-webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
	}
	
	.cama_titulo {
		width:80%;
		height:35px;
		color:#fff;
		margin-top:5px;
		margin-left:5%;
		float:left;
	}
	
	.cama_cerrar {
		width:10%;
		height:35px;
		color:#fff;
		margin-top:5px;
		float:left;
		text-align:right;
	}
	
	.cama_btns {
		width:40%;
		height:auto;
		margin-left:30%;
	}
	
	.cama_btns2 {
		width:95%;
		height:auto;
		margin-left:5%;
	}
	
	.pitboss {
		width:120px;
		height:160px;
		float:left;
		margin-left:35px;
		margin-right:35px;
		margin-top: 22px;
	}
	
	.top_pitboss {
		width:950px;
		height:auto;
		margin:auto;

	}
	
	
	.pitboss img {
		width:100%;
		height:auto;
		margin:auto;
	}
	
	
	.cont_mesa {
		width: 654px;
	height:auto;
	margin:auto;
		margin-top:22px;
	}
	.mesa {
		width: 208px;
	height:auto;
	float:left;
	margin-left:5px;
	margin-right:5px;
	margin-top:22px;
	}
	
	
	.mesa img {
		width:100%;
		height:auto;
		margin:auto;
	}
	
	.x {
	}
	
	
	.tabla {
		background-color: #fefefe;
		width:400px;
		height:400px;
		margin:auto;
		 padding: 20px;
	margin-top: 150px;
    border: 1px solid #888;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 0px solid #FFAD00;
	overflow:scroll;
	}
	
	.tabla_monto {
		
		width:400px;
		height:250px;
		margin:auto;
		 padding: 3px;
	margin-top: 0px;
   border: 1px solid #888;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border: 1px solid #888;
	overflow: scroll;
	 overflow-x: hidden;
	}
	.tabla_top_monto {
	width: 400px;
	height: 40px;
	margin: auto;
	padding: 3px;
	margin-top: 0px;
	border: 1px solid #888;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;;
	-webkit-border-radius: 5px 5px 0px 0px;
	border: 1px solid #888;
	
	}
	
	.tabla_clientes {
	width: 800px;
	height: 360px;
	margin: auto;
	paddsing: 3px;
	margin-top: 0px;
	border: 1px solid #888;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border: 1px solid #888;
	overflow: scroll;
	 overflow-x: hidden;
	}
	
	
	.tabla_clientes2 {
	width: 800px;
	height: 280px;
	margin: auto;
	padding: 3px;
	margin-top: 0px;
	border: 1px solid #888;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border: 1px solid #888;
	overflow: scroll;
	 overflow-x: hidden;
	 margin-bottom:25px;
	}
	
	.tabla_top {
	width: 807px;
	height: 48px;
	margin: auto;
	padding-top: 3px;
	/* [disabled]padding-right: 3px; */
	/* [disabled]padding-left: 3px; */
	padding-bottom: 3px;
	margin-top: 0px;
	border: 1px solid #888;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	;
	-webkit-border-radius: 5px 5px 0px 0px;
	border: 1px solid #888;
	}
	
	th, td {
	padding: 8px;
}
tr:nth-child(even) {background-color: #f2f2f2;
}
tr:nth-child(odd) {background-color: #000000;
}
tr {
	color:#7c7c7c;
	font-size:14px;
}
	
	tr:hover {background-color: #5FFFA8;}
	
th {
	font-weight: bold;
	color: #5FFFA8;
	font-size:12px;
	text-align:left;
	line-height:1;
	height:15px;
	padding-top: 1px;
	background-color:#000000;
}


.top_select select {
	width: 100%;
	height: 35px;
	background: transparent;
	border: none;
	padding-right: 0px;
	padding-left: 0px;
	text-align: center;
	font-size: 14px;
	color: #7c7c7c;
	margin-bottom:5px;
	}
	
	.top_select input[type=text]{
	width: 100%;
	height: 18px;
	background-color: #000;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align:center;
	font-size:14px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #7c7c7c;
margin-bottom:5px;
color:#7c7c7c;
	}
	
table{
	width: 96%;
	margin: auto;	
}

.bloqueo {
	background-image:url(../img/candado.png);
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	position:absolute;
	z-index:10;
	top:10px;
	left:10px;
	opacity:0.5;
	
}

.bloqueo:hover {
	
	opacity:1;
	
}

.btnagregar{
	margin:auto;
	width: 200px;
	height: 30px;
	background-color: #009804;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align:center;
	border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
-webkit-box-shadow: inset 0px -11px 0px -4px rgba(13,129,3,1);
-moz-box-shadow: inset 0px -11px 0px -4px rgba(15,109,5,1);
box-shadow: inset 0px -11px 0px -4px rgba(15,109,5,1);
border: 1px solid #d3d3d3;
margin-bottom:5px;
color:#fff;
position: relative;

}
.btnagregar:hover{
	background-color: #078d04;
	}
	
	.levels_member{
	width: 28%;
	height: 280px;
	margin-left: 3%;
	margin-right: 2%;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 1px solid #FFAD00;
	background-color: rgba(0, 0, 0, 0.50);
	float: left;
	}

.permiso{
	width: 80%;
	margin:auto;
	margin-top: 15px;
	float:left;
	display:block;
	color:#fff;
	}
	
	
	input[type=radio], input[type=checkbox] {
    display:none;
	margin-left: 15px;
}
input[type=radio] + label:before {
    content: "";  
    display: inline-block;  
    width: 15px;  
    height: 15px;  
    vertical-align:middle;
    margin-right: 8px;  
    background-color: #aaa;  
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 8px;  
	margin-left: 15px;
}
input[type=checkbox] + label:before {
    content: "";  
    display: inline-block;  
    width: 15px;  
    height: 15px;  
    vertical-align:middle;
    margin-right: 8px;  
    background-color: #aaa;  
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 4px;  
	margin-left: 15px;
}
input[type=radio]:checked + label:before {
    content: "\2022"; /* Bullet */
    color:white;
    background-color: #149849; 
    font-size:1.8em;
    text-align:center;
    line-height:14px;
    text-shadow:0px 0px 3px #eee;
	margin-left: 15px;
}
input[type=checkbox]:checked + label:before {
    content:"\2714"; /* Tick */
    color:white;
    background-color: #149849; 
    text-align:center;
    line-height:15px;
    text-shadow:0px 0px 3px #eee;
	margin-left: 15px;
}

.permisonuevo{
	width: 50%;
	margin:auto;
	margin-left:25%;
	margin-bottom:15px;
	float:left;
	display:block;
	color:#fff;
	}
	
	.logo{
	width: 55%;
	margin: auto;
	display: block;
	color: #fff;
	}
	
	.logo img{
	width:100%;
	height:auto;
	}

.levels_member input[type=text]{
	width: 90%;
	height: 20px;
	margin-left: 5%;
	background-color: #FFFFF;
	padding-top: 5px;
	/* [disabled]padding-right: 5px; */
	/* [disabled]padding-left: 5px; */
	padding-bottom: 5px;
	text-align: center;
	font-size: 14px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #d3d3d3;
	margin-bottom: 5px;
	color: #7c7c7c;
	}
	
	.levels_member input[type=number]{
	width: 90%;
	height: 20px;
	margin-left: 5%;
	background-color: #FFFFF;
	padding-top: 5px;
	/* [disabled]padding-right: 5px; */
	/* [disabled]padding-left: 5px; */
	padding-bottom: 5px;
	text-align: center;
	font-size: 14px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #d3d3d3;
	margin-bottom: 5px;
	color: #7c7c7c;
	}
	
	.roll{
	width:100%;
	height:325px;
	overflow-y: hidden;
	overflow: scroll;
	}
.ancho{
	width:5000px;
	height:315px;
	overflow-y: hidden;
	overflow: hidden;
	}
	
	.levels_users{
	width: 250px;
	height: 280px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 1px solid #888;
	background-color: rgba(0, 0, 0, 0.50);
	float: left;
	color:#fff;
	}
	
	.vert_content1{
		width:90%;
	height:190px;
	margin-left:5%;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 1px solid #FFAD00;
	background-color: rgba(0, 0, 0, 0.50);	
	float:left;
	margin-bottom:15px;
	}
	
	
	.vert_textbox
  {
  width: 50%;
  margin:auto;
  background-color: #fff;
  background-color: #FFFFF;
  text-align:center;
  font-size:14px;
  border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #d3d3d3;
margin-bottom:5px;
color:#7c7c7c;
margin-top:5px;
  }
	
	
	.vert_content2{
		width:90%;
	height:160px;
	margin-left:5%;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 1px solid #FFAD00;
	background-color: rgba(0, 0, 0, 0.50);	
	float:left;
	
	margin-bottom:15px;
	}
	
	.vert_content3{
	width: 90%;
	height: 120px;
	margin-left:5%;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 1px solid #FFAD00;
	background-color: rgba(0, 0, 0, 0.50);
	float: left;
	
	margin-bottom: 15px;
	}
	.vert_content1 input[type=email]{
	width: 100%;
	height: 20px;
	background-color: #FFFFFf;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	text-align:center;
	font-size:14px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px solid #d3d3d3;
margin-bottom:5px;
color:#7c7c7c;
	}
	
	.vert_content4{
	width: 90%;
	height: 140px;
	margin-left:5%;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 1px solid #FFAD00;
	background-color: rgba(0, 0, 0, 0.50);
	float: left;
	
	margin-bottom: 15px;
	}
	
	.vertform_col2{
	width: 43%;
	height: auto;
	float: left;
	margin-left: 5%;
	margin-bottom: 5px;
	color: #fff;
	text-align: center;	
	margin-top:5px;
	}
	.vertform_col3{
	width: 30%;
	height: auto;
	float: left;
	margin-left: 2.5%;
	margin-bottom: 5px;
	color: #fff;
	text-align: center;	
	margin-top:5px;
	}
	
	.vertform_col4{
	width: 21%;
	height: auto;
	float: left;
	margin-left: 2%;
	margin-right:2%;
	margin-bottom: 5px;
	color: #fff;
	text-align: center;	
	margin-top:5px;
	}
	
	.grafica{
	width: 320px;
	height: auto;
	margin:auto;
	margin-bottom: 5px;
	color: #fff;
	text-align: center;	
	margin-top:5px;
	}
	
	.grafica img{
	width: 100%;
	height: auto;
	}

	.roledrop{
	width: 100%;
	height: 30px;
	background-color: #FFFFFF;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 5px;
	margin-right: 10px;  
	margin-top: -1px;
	text-align:center;
	font-size:14px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #d3d3d3;
	margin-bottom:5px;
	color:#7c7c7c;
}
