.cardboard-item {
  margin-right: 2rem;
  font-size: 3.26rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  border-radius: 9px;
}

.cardboard-item__single {
  color: rgba(0,0,0, .5);
  background: rgba(255, 217, 125, .8);
}

.cardboard-item__double {
  color: rgba(255,255,255,.8);
  background: rgba(238, 96, 85, .8);
}

.cardboard-item__triple {
  color: rgba(0,0,0,.5);
  background: rgba(170, 246, 131, .5);
}

@media only screen and ( max-width: 1400px ) {
  .cardboard-item {
    font-size: 2.6rem;
  }
}