.ant-row{
  flex-grow: 1;
}

.login-background{
  min-height: 100vh;
  min-height: 100vh;
  background-color: #F0F2F5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
}

.login-title{
  font-size: 33px;
  color: #242425;
  font-family: Myriad Pro,Helvetica Neue,Arial,Helvetica,sans-serif;
  font-weight: 600;
  position: relative;
  top: 2px;
}

.login-subtitle {
  font-size: 14px;
  color: rgba(0,0,0,.45);
  margin-top: 12px;
  margin-bottom: 40px;
}

.form-section {
  background-color: #ffffff;
  text-align: center;
  color: rgba(0,0,0, .25);
  padding: 50px 40px 50px 40px;
  margin: auto;
  width: 457px;
}

.login-form-button{
  margin-top: 60px;
  width: 100%;
}

.loading-section {
  background: #999;
  width: 33.5%;
  height: 100%;
  position: absolute;
  opacity: .2;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  margin-left: -40px;
  animation: anim 0.2s ease;
}

.loading-icon {
  font-size: 40px;
  line-height: 64px;
  transition: all .3s, padding 0s;
}

.finger-img {
  width: 30%;
  margin-bottom: 15px;
}

@keyframes anim {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}