.card-item {
  border: 0.5rem solid #fff;
  border-radius: 9px;
}

@media screen and ( max-width: 1400px ) {
  .card-item-responsive {
    /* width: 18rem !important;
    height: 27rem !important; */
  }

  .card-item--recent-card {
    width: 10rem !important;
    height: 15rem !important;
  }
}